@import url("https://fonts.googleapis.com/css?family=Lato:300,400,400i,700");
:root {
	--font-system: 'Lato', "Segoe UI", 'Roboto', sans-serif;
}
#app {
	display: block;
	background: var(--body-bg-color);
	font-family: var(--font-family);
	font-weight: var(--font-weight);
	font-size: var(--font-size);
	color: var(--body-color);
	line-height: var(--line-height);
	height: 100vh;
	overflow: hidden;
}
a {
	text-decoration: none;
	cursor: pointer;
}
p {margin-bottom: 0;}
img {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}
thead {
	background-color: #ff4655;
	color: #fff;
	font-weight: bold;
}
tbody {
	border: 1px solid #ff4655;
}
td[rowspan] {
	border: 1px solid #ff4655;
}
