header {
	background-color: var(--state-primary);
	color: #fff;
	font-weight: bold;
	text-align: center;
	padding: .25rem 1rem;
}
.card {
	border: 1px solid var(--state-primary);
	.content {
		padding: .5rem;
	}
}
.indicator {
	display: flex;
	justify-content: space-between;
	.title {font-weight: bold;}
}
